INFURA_API_KEY=0b650af2df____d5bade09757____7ac
INFURA_API_SECRET=e520____b65d4200b____c4a4b5199f8
INFURA_PROVIDER=https://ropsten.infura.io/v3/0b650af2df____d5bade09757____7ac
ROPSTEN_ADDRESS=0x9338063cd5c8f069____25345FaDc94a____42f
ROPSTEN_PRIVATE_KEY=B2EA2B1ED9D7359394B43____493DDD052E830C8D2307DBE____AEDCC69BB8EF
ETH_NETWORK=testnet

URI_MONGO=mongodb://user__name:HG98WJF093H4G20DJV2BR0__@ds127___.mlab.com:273__/database__name
