<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>BKU Blockchain MoST</title>

  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

  <style>
    body {
      background-color: #ffffff;
      font-family: 'Open Sans', sans-serif;
      text-align: center;
    }
    .container {
      position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);
      font-size: 28px;
    }
  </style>
</head>
<body>
  <div class="container">
    Hello World
  </div>
</body>
</html>
